{% extends 'base.html' %}

{% block content %}
<head>
<meta charset="UTF-8">

<h1>About:</h1>
</head>
    <img src="../static/images/documents.svg" width="64">
    <body>
    <p>Ein kleines DMS-Tool</p>
    <p>von Dirk Maric</p>
    <p>Die Verwendung dieses Skriptes erfolgt auf eigene Gefahr und ohne Anspruch aus Support.</p>
    <p>Es gilt die <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL</a> (eine Offline-Kopie liegt bei)</p>
    <p>Link zu  <a href="https://github.com/Dirki74/dms" target="_blank">Github</a> </p>

    </body>

   <hr>
{% endblock %}
