{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Neues Dokument hinzufügen {% endblock %}</h1>

<form method=post enctype=multipart/form-data>
    <div class="form-group">
        <label for="title">Dokumentname:</label>
        <input type="text" name="title" placeholder="Dokumentname"
               class="form-control"
               value="{{ request.form['docname']}}">
    </div>

    <div class="form-group">
        <label for="content">Schlüsselwörter:</label>
        <input type="text" name="content" placeholder="Bitte geben Sie Schlüsselwörter ein"
               class="form-control"
               value="{{ request.form['content'] }}">
    </div>

        <div class="form-group">
            <label for ="file">Bitte wählen Sie die Datei aus:</label><br>
        <input type=file name=file>
    </div>
    <div>
      <label>Kategorie: </label><br>
      <select name="cat" size="5">
      <option selected>Bitte wählen!</option>
          {%  for entry in category %}
            <option>{{ entry[1] }}</option>
          {% endfor %}
      </select>
    </div>
<br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Dokument hinzufügen</button>
    </div>
</form>

<hr>
{% endblock %}