{% extends 'base_adm.html' %}

{% block content %}
<head>
<meta charset="UTF-8">

<h1>Kategorien hinzufügen:</h1>
</head>
    <body>
        <form method=post enctype=multipart/form-data>
        <div class="form-group">
            <label for="titel">Neue Kategorie:</label>
            <input type="text" name="newcatname" placeholder="Name der Kategorie"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="newcatpath">Name des neuen Unterordners:</label>
            <input type="text" name="newcatpath" placeholder="Pfadname"
                   class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
        </form>
    </body>
    <br>
    <hr>
    <br>
{% endblock %}