{% extends 'base.html' %}

{% block content %}
    <head>
        <h1>{% block title %} Alle Dokumente {% endblock %}</h1>
        <hr>
    </head>
    <body>
        <table cellpadding="10px">
        <thead>
        <th>Nummer</th><th>Dokumentname</th><th>Keywords</th><th>Kategorie</th><th>Upload-Datum</th><th>Dateiname</th><th>Besitzer</th><th>Privat</th><th>Öffnen</th><th>Speichern</th><th>Ändern</th>
        </thead>
        <tbody>
         {% for items in docs%}
             <tr>

                 <td>{{items[0]}}</td><td>{{items[4]}}</td><td>{{items[2]}}</td><td>{{items[5]}}</td><td>{{items[3]}}</td><td>{{items[1]}}</td><td>{{items[7]}}</td><td>{% if items[8] == "1" %} <img src="/static/images/True.svg" width="32", height="32" alt="privat"> {% endif %}{% if items[8] == "0" %} <img src="/static/images/False.svg" width="32", height="32" alt="nicht privat"> {% endif %}</td><td><a href="/open/{{items[1]}}" target="_blank"><img src="/static/images/documents.svg" width="32", height="32" alt="Öffnen"></a></td><td><a href="/download/{{items[1]}}" target="_blank"><img src="/static/images/save.svg", alt="Speichern" width="32", height="32"></a></td><td>{%  if not isreadonly %}<a href="/edit/{{items[0]}}"><img src="/static/images/edit.png" width="32", height="32"></a>{% endif %}</td>
             </tr>

            {% endfor %}
        </tbody>
        </table>
</body>
{% endblock %}