{% extends 'base.html' %}

{% block content %}
<head>
<meta charset="UTF-8">

<h1>Wilkommen <strong>{{ fullname }}</strong> in ihrem DMS:</h1>
</head>
<body>
    <img src="../static/images/documents.svg" width="64">

    <p>Was können wir für sie tun?</p>
    <p>Treffen Sie bitte oben eine Auswahl:</p>
    <br>
    <p>Oder suchen Sie ihr Dokument:</p>
    <form method=post enctype=multipart/form-data>
    <div class="form-group">
        <label for="title">Bitte den Suchbegriff eingeben:</label>
        <input type="text" name="searchdoc"
               class="form-control">
        <br>
        <label for="cars">Nur aus folgender Kategorie anzeigen:</label><br>

        <select name="cats" id="cats">
          <option value="alle">alle</option>
            {%  for entry in categorys %}
            <option value="{{ entry[1] }}">{{ entry[1] }}</option>
          {% endfor %}

        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Suchen!</button>
    </div>

</body>
{% endblock %}
